
.top-menu{
    padding-top: 30px;
}

.navbar {
	background-color: #011327;
    height: 100px;
    padding: 25px;
    font: #8aa4c1;
}

/*.navbar-nav {
float: none;
text-align: right;

}
.navbar-nav >li{
	float: none;
	display: inline-block;
}
.nav > li{
	text-align: center;
}*/

.top-menu .address{
	display: flex;

}
.icon-image {
	padding-bottom: 16px;
    padding-left: 80px;
    margin-right: 20px;
}

.icon-mail {
	padding-left: 9px;
    padding-bottom: 9px;
    margin-right: 18px;
}

.icon-horn{
	padding-bottom: 8px;
    margin-right: 9px;
}

.header-image {
    margin-top: -25px;
	width: 100%;
	height: 745px;
	background-image: url('../images/slideabout.jpg');
	background-repeat: no-repeat;
    background-size: cover;
}

.title{background: #909090;}


/*@media (max-width: 767px){
.navbar-nav >li{
	display: block;
}

}*/

/*.page-image {
	background-image: url('../images/bge.png');
	background-repeat: no-repeat;
}*/
.welcome-bg{
	background-image: url(../images/bge.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: auto 29%;
	margin-top: 25px;
}

.warning {
	color: #ff3d00;
	padding-left: 25px;
}

.services {
	background-color: #eff1f6;

}

.services .col-sm-4 {
	margin-bottom: 25px;
}

.btn-lg {
	margin-top: 25px;
}
